<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
</head>
<body>

<div>
    <div class="wrap">

        <form id="message">
            <span>News Constructor</span>

            <label for="author">
                <input id='author' placeholder="Author" name="author">
            </label>

            <label for="message">
                <textarea placeholder="Your Message" name="message"></textarea>
            </label>

            <button type="submit">Send Message</button>
        </form>

        <ul id="message_list">
            <span class="news_feed">News Feed</span>

        </ul>

    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</div>

</body>
</html>