form#message {
  position: fixed;
  float: right;
  right: 100px;
  margin-top: 15px;
}
form#message span {
  font-size: 25px;
}
form#message input {
  display: block;
  margin-top: 15px;
  width: 50%;
  height: 30px;
  background-color: #d8dbe0;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
form#message textarea {
  display: block;
  margin-top: 30px;
  width: 550px;
  height: 150px;
  background-color: #d8dbe0;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
form#message button {
  margin-top: 25px;
  background-color: burlywood;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
form#message button:hover {
  background-color: #ffbc66;
}
section {
  position: relative;
  float: left;
}
ul {
  position: absolute;
  border: none;
  list-style-type: none;
}
li {
  margin-top: 30px;
  position: relative;
  width: 550px;
  height: 390px;
  display: block;
  background-color: #d8dbe0;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.news_feed {
  font-size: 25px;
}
.span_author {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 20px;
  color: darkslateblue;
  font-size: 25px;
}
.span_text {
  position: absolute;
  top: 90px;
  left: 30px;
  right: 30px;
  height: 240px;
  border-top: 1px solid black;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}
div {
  color: black;
}
div .post_date {
  position: absolute;
  top: 60px;
  left: 40px;
}
div.post_likes button {
  bottom: 0;
  position: absolute;
  background-color: #ffffbd;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
div.post_likes button:hover {
  background-color: #ffff8a;
}
/*# sourceMappingURL=style.css.map */