@height: 30px;
@margin-top: 15px;
@width: 550px;
@font-size: 16px;
@bg-color-textarea: #d8dbe0;
@bg-color-button: burlywood;
@bg-color-button-likes: rgb(255, 255, 189);
@color: #ffffff;
@border-radius: 5px;

form#message {
  position: fixed;
  float: right;
  right: 100px;
  margin-top: @margin-top;
  span {
    font-size: @font-size + 9px;
  }
  input {
    display: block;
    margin-top: @margin-top;
    width: 50%;
    height: @height;
    background-color: @bg-color-textarea;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: @border-radius;
  }
  textarea {
    display: block;
    margin-top: @margin-top * 2;
    width: @width;
    height: @height * 5;
    background-color: @bg-color-textarea;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: @font-size;
    border-radius: @border-radius;
  }
  button {
    margin-top: @margin-top + 10px;
    background-color: @bg-color-button;
    border: none;
    color: @color;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: @font-size;
    cursor: pointer;
    border-radius: @border-radius;
  }
  button:hover {
    background-color: saturate(@bg-color-button, 50%);
  }
}

section {
  position: relative;
  float: left;
}

ul {
  position: absolute;
  border: none;
  list-style-type: none;
}

li {
  margin-top: @margin-top * 2;
  position: relative;
  width: @width;
  height: @height * 13;
  display: block;
  background-color: @bg-color-textarea;
  color: @color;
  text-decoration: none;
  text-align: center;
  border-radius: @border-radius;
}

.news_feed {
    font-size: @font-size + 9px;
  }

.span_author{
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 20px;
  color: darkslateblue;
  font-size: @font-size + 9px;
}
.span_text {
  position: absolute;
  top: 90px;
  left: 30px;
  right: 30px;
  height: @height * 8;
  border-top: 1px solid black;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

div {
  color: black;
  .post_date {
    position: absolute;
    top: 60px;
    left: 40px;
  }
}

div.post_likes {
  button {
    bottom: 0;
    position: absolute;
    background-color: @bg-color-button-likes;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: @font-size;
    cursor: pointer;
    border-radius: @border-radius;
  }
  button:hover {
    background-color: darken(@bg-color-button-likes, 10%);
  }
}



